footer.container.py-5
  .row
    .col-md-6
      nav.nav.footer.justify-content-center.justify-content-md-start
        a.nav-link(href="/nosotros") Nosotros
        a.nav-link(href="/viajes") Viajes
        a.nav-link(href="/sugerencias") Sugerencias

    .col-md-6
      p.copyright.text-center.text-md-end.mb-0
        | Todos los derechos reservados © #{actualYear} - #{nombreSitio}