header
  .navegacion
    .container
      .row.justify-content-center.justify-content-md-between.align-items-center.py-4
        .col-md-4.col-6
          a(href="/")
            img(src="/img/logo.svg" alt="sitio logo" class="img-fluid")
        .col-md-8
          nav.mt-5.mt-md-0.nav.justify-content-center.justify-content-md-end
            a.nav-link(href="/" class=pagina === 'Inicio' ? 'active' : '') Inicio
            a.nav-link(href="/nosotros" class=pagina === 'Nosotros' ? 'active' : '') Nosotros
            a.nav-link(href="/viajes" class=pagina === 'Próximos Viajes' ? 'active' : '') Viajes
            a.nav-link(href="/sugerencias" class=pagina === 'Sugerencias' ? 'active' : '') Sugerencias